# Ignore folders:
.github
.scripts
node_modules
images
tests
cjs

# Ignore files:
.eslintrc.json
.prettierrc.json
.gitignore
.replapirc.json
.replit
babel.config.json
LICENSE
README.md
package.json
package-lock.json
